[2017-12-07 17:50] jeremymeng opened #4 "Improve build scripts"
Some ideas:
* [ ] Exit with error to fail the build when any step fails
* [ ] Add build status badge to README
* [ ] Add a PowerShell script to do the actual build
* [ ] Handle different build environments and version the vsix properly
* [ ] Add a build.sh for *NIX platform

[2017-12-07 18:01] jeremymeng opened #5 "Add proper assembly metadata to ILSpy.Host.exe"
Currently it shows
[code]

[2017-12-07 18:12] jeremymeng opened #6 "Update omnisharp-roslyn dependency"
Currently the backend is depending on OmniSharp.Stdio as a submodule at an old version. We want to look at the latest omnisharp-roslyn and figure out a better way to use what they provide.

[2017-12-08 20:43] jeremymeng commented on #5
Also missing proper copyright attribute

[2017-12-09 06:14] #5 closed

[2018-02-07 00:04] 333fred opened #8 "Fails to open quoted path"
When the given path is in quotes, the extension fails to open the binary and has an empty binary in the decompiled members panel. This might not be that big of an issue, except for the fact that in Windows Explorer, when you click on a file and select 'Copy Path' in file explorer, the resulting path is quoted.

[2018-02-14 06:10] jeremymeng commented on #8
Thanks @333fred for reporting!

[2018-02-14 15:39] d-dizhevsky opened #10 "IL view support"
Please consider adding an IL viewer, since this can be done via Roslyn on the fly (in-memory build).
I'm asking this because I don't see any VS Code extension with such functionality would really work on MacOS at the moment.

I would highly appreciate this feature.

[2018-02-18 05:52] #8 closed

[2018-02-18 05:56] jeremymeng opened #11 "Assembly node is always added even when backend failed to add the assembly file"
https://github.com/icsharpcode/ilspy-vscode/blob/718e5fcfd6cbe527a179a764ac5034096bf6d402/vscode-extension/src/msildecompiler/decompiledTreeProvider.ts#L84-L87

[2018-05-05 22:43] RandallFlagg opened #12 "The process cannot access the file because it is being used by another process"
When opening a file inside the workspace from the bin directory and then trying to run the program there is an erorr saying the file is in use.

[code]

[2018-05-05 22:45] RandallFlagg opened #13 "Can't unload a file"
After opening a file to the view I can't unload it from the view.

If there is an option please refer me to the documentation or explain how to do that. Thanks.

[2018-05-08 01:55] hack2root commented on #13
If MSIL assembly was loaded as reflection-only (emit) only assembly it will always be accessible to unload that assembly programmatically, overwize it have to use domain other than current executing domain to be able to unload it from memory completely. Assemblies itself can't me unloaded, only as a domain itself

[2018-05-08 20:17] jeremymeng commented on #13
Yes currently the extension does not support unloading/closing an assembly.

[2018-07-05 09:09] tsvx opened #14 ""Open code in ILSpy" crashes VS2017 if invoked on some methods."
I have a C# ASP.NET Core solution in Visual Studio 2017 and the latest ILSpy extension installed.
When I accidentally try to "Open code in ILSpy" on any my own method, Visual Studio crashes, even if the solution is compiled recently.

Also it crashes on any of the three methods in an invocation chain:
[code]
(usual ASP.NET Core initialization process).

BTW, ILSpy extension of the latest LINQPad 5

[2018-07-05 09:31] siegfriedpammer commented on #14
This is the repository of the Visual Studio Code extension. The Visual Studio Extension lives at https://github.com/icsharpcode/ILSpy/. Could you please open an issue there? If there is any stacktrace, please include it in the bug report. Thank you!

[2018-07-05 10:45] tsvx commented on #14
Oh, sure, sorry!

[2018-07-05 10:45] #14 closed

[2018-08-01 19:22] Phrohdoh opened #15 "[Request] Get file path via open file dialog"
There are two ways I could see doing this:
- the command `ilspy.decompileAssemblyPromptForFilePath` is changed to use a dialog
- a new command is implemented that uses a dialog

Either way I believe this would be helpful to the user as often times the complete path is not readily-available (without some work) but it is fair to assume that all users can operate a file picker dialog.

---

If this i

[2018-08-02 22:48] #15 closed

[2018-08-05 06:01] jeremymeng commented on #10
I have been thinking about whether the vscode extension can reuse the `CSharpLangauge`, `CSharpMixedLangauge`, and `ILLangauge`, etc.

@siegfriedpammer & @christophwille any thoughts?

[2018-08-05 06:44] christophwille commented on #10
Those are intentionally tied to ILSpy (if we considered sharing, they'd be in ics.d)

[2018-08-05 08:27] siegfriedpammer commented on #10
As the Language implementations are intended as plugin API in ILSpy, we're not going to move them to ICSharpCode.Decompiler, however we will be moving some features to CSharpDecompiler.

[2018-08-05 19:18] jeremymeng commented on #10
What suggestions do you have if we are to add IL support?

[2018-08-17 23:18] jeremymeng opened #20 "generic type parameter are missing from the tree node"
This results in the same name for generic types with same name but different number of generic type parameters. See screenshot below

![image](https://user-images.githubusercontent.com/7583839/44292377-01b0ce00-a239-11e8-9404-3b8b293600d6.png)

[2018-08-17 23:26] jeremymeng commented on #20
It would be better to show generic type arguments there like

Candidate<out T>
Candidate<out T, TResult>

[2018-08-18 00:10] #20 closed

[2018-08-19 18:51] jeremymeng commented on #10
@siegfriedpammer I added the IL view support. I am not sure whether my usage of  `ReflectionDisassembler` is proper, or there's a better way.  Also the set of the options that are passed might not be great either.

[2018-08-21 03:16] jeremymeng commented on #10
![image](https://user-images.githubusercontent.com/7583839/44378400-f28a8400-a4b5-11e8-8ebc-afbeec8626e7.png)

[2018-08-22 06:55] #10 closed

[2018-08-22 07:03] #13 closed

[2018-08-22 07:04] jeremymeng commented on #11
Fixed by changes in #23

[2018-08-22 07:04] #11 closed

[2018-08-23 04:09] jeremymeng commented on #12
The backend needs to hold onto the file to decompile on-demand.

I added a context menu to unload assemblies.  After unloading the the file handle should be closed.

[2018-08-23 04:12] #12 closed

[2018-08-23 08:57] itn3000 opened #26 "unloading assembly failed"
# Environment

* vscode: 1.26.1
* extension version: 0.7.0
* platform: windows8.1 x64
* dotnet SDK version: 2.1.400

# Steps to reproduce

1. open vscode in empty directory
2. run `dotnet new console` in integrated terminal
3. run `dotnet build`
4. executing `Decompile IL Assembly in Current Workspace`
5. view some IL
6. closing all opened IL views
7. executing `Unload Assembly`

# Expected behavi

[2018-08-24 03:52] jeremymeng commented on #26
@itn3000 how did you run the command?  It's only supposed to be invoked by the context menu. Running it directly wouldn't work

[2018-08-24 04:15] itn3000 commented on #26
oh, sorry, I have finally successed unloading assembly from context menu.
Thank you for responding.

[2018-08-24 04:15] #26 closed

[2018-08-24 05:05] jeremymeng commented on #26
No worries. It's a good bug.  I submitted a PR to show some informational message when the command is ran directly.

[2018-08-31 16:44] vchirikov opened #28 "[Request] Go to Decompiled definition"
Will be nice if we will have some 'go to decompiled definition' as there is Visual studio has.

[2018-10-10 03:56] fjqingyou opened #29 "Unable to reopen closed window"
### **Environment data**

ILSpy .NET Decompiler 0.7.0

dotnet --info
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.14
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.4/

Microsoft .NET Core Shared Framework Host

  Version

[2018-10-11 09:25] fjqingyou opened #30 "There is no way to choose a dll that is referenced in the workspace, but the file is not in the workspace."
csproj
[code]

use command

not have (xxxxxx).dll in item list view

[2018-10-13 03:54] fjqingyou opened #31 "Classes that do not use namespaces cannot be displayed"
Such as the title!

[2018-10-13 04:00] fjqingyou opened #32 "Will not associate the last open window"
Decompile any Assembly, view any class, there will be Untitled1, Untitled2 window

Do not uninstall this Assembly, use Command+Q on Mac to exit vscode, and then re-open VSCode.

the original Untitled1 and Untitled2 are still there.

decompile any Assembly again, view any class. The Untitled3 and Untitled4 windows are opened.

Loop operation will open a new window infinitely

[2018-10-17 17:40] jeremymeng commented on #29
@fjqingyou Thanks for reporting the issue!  We will have a look.

[2018-10-17 17:48] jeremymeng commented on #30
Unfortunately the extension doesn't have any knowledge about projects.

Some idea that might help: add another command that allows users to choose a certain directory then provides a list of dlls under that directory (recursively) as candidates for decompilation.  The performance is a concern though: image the "/" is being selected...

[2018-10-18 14:53] fjqingyou commented on #30
@jeremymeng

this is a Unity Project, it's a game developer engine!

[2018-10-18 14:57] fjqingyou commented on #30
is runing Mac OS.
HintPath tag context is a absolute path

[2018-11-10 11:04] bitbonk commented on #28
I came here to request exactly the same feature. :) Beeing able to Ctrl+Click on any symbol and then beeing taken to the decompiled (or via SourceLink downloaded) code is an absolute killer feature.

[2019-01-04 09:54] christophwille opened #36 "Marketplace Changelog link going nowhere"
https://marketplace.visualstudio.com/items?itemName=icsharpcode.ilspy-vscode

Section "What's New" - the changelog is not in the root of the repo, but vscode-extension. This is not picked up when published to marketplace (either move changelog to root or make link absolute in subdirectory)

[2019-01-06 23:37] jeremymeng commented on #29
On Windows I am unable to repro this on the latest version 0.7.3.  "Untitled" windows are created as needed.

Closing for now.  Feel free to re-open if the issue still happens on Mac

[2019-01-06 23:37] #29 closed

[2019-01-07 01:58] fjqingyou opened #38 "metadata right-click menu support"
Use F12 to locate the definition in VSCode.

Sometimes it will locate the class defined in the external dll file.

It is metadata.

Can you add the function of fast decompilation to the right-click menu of this metadata tag?

After the menu is clicked, the dll is automatically loaded according to the metadata, and the decompiled metadata is automatically opened.

[2019-03-27 20:42] vindicatorr opened #39 "Projects/DLLs Aren't Consistently Being Disassembled"
Visual Studio Code 1.32.0
ILSpy 0.7.5
Dotnet 2.2.105
Linux
Mono 5.18.1

I'm finding it rare for ANY .NET dll to be disassembled.
None of my simple/little projects (Current Workspace) were disassembled, even when selecting the build DLL (pick dll).

An example of a DLL that did disassemble: System.Console.dll
An example of a DLL that disassembled(?) but was empty:  System.Core.dll

[2019-03-27 22:35] dgrunwald commented on #39
Are you sure you are trying to decompile a real DLL with code?

Note that "reference assemblies" don't have any method bodies; they're merely for the C# compiler to link against (similar to header files in C). ILSpy can't disassemble/decompile code if there isn't any!

[2019-03-28 00:34] vindicatorr commented on #39
Yup, pretty sure.
$ mkdir dllTest
$ cd dllTest
$ dotnet new console
$ dotnet new build
$ code-insiders
CTRL-SHIFT-P -> ILSpy: Decompile IL Assembly (pick file) -> \<pathTo dllTest\>/bin/Debug/netstandard2.0/dllTest.dll -> Select Assembly
...nada

[2019-04-01 14:30] yeeeeeeeeee commented on #39
Same here,
CTRL-SHIFT-P -> ILSpy: Decompile IL Assembly (pick file) -> <path> -> Select Assembly

Nothing happens...

[2019-04-09 07:12] jeremymeng commented on #39
I just tried on a fresh install of code on ubuntu 18.04. The extension works as expected. I didn't try code-insider though.

Could you please share the output from ilspy-vscode when the issue happens?

![image](https://user-images.githubusercontent.com/7583839/55780171-2ffb4c00-5a5c-11e9-9dc9-d54dd0b43a65.png)

[2019-04-09 16:17] vindicatorr commented on #39
Ahhh yes! Fantastic to know about such a feature. It explains quite a bit:
[code]
That was from a very simple dotnet new console test.
This is from one of my actual projects:
[code]
By the way, I'm on 1.34 of insiders now (since yesterday).
The "/bin/shared/Microsoft.NETCore.App" seemed odd, the path should be "/opt/dotnet/shared/Microsoft.NETCore.App".

[2019-04-09 17:01] jeremymeng commented on #39
for the first failure, it looks like VS Code did pass the file path to the extension:
[code]
I would expect that `data` contains `{ "AssemblyPath": "<full path to the assembly>" }`.  Strange. Not sure whether it's insider build only or some other issue (permission etc.)

The second failure seems an issue in the decompiler. @siegfriedpammer

[2019-04-10 00:21] stianhoiland commented on #28
This would be great!

[2019-04-10 00:22] stianhoiland commented on #38
This would be great!

[2019-04-11 09:15] siegfriedpammer commented on #39
@vindicatorr Thank you for reporting this! Could you please send the assembly and all related files (deps.json, etc.)  that cause the decompiler to fail to siegfried.pammer@gmail.com?

Sorry, for taking so long, had some issues getting my Ubuntu VM up and running with the latest updates.

[2019-04-14 11:52] siegfriedpammer commented on #39
I have difficulties getting the whole thing to work on linux. Mono is randomly crashing. Most of the time, this is the only output I get:

[code]

Is there any way to move the vscode extension to .net core?

[2019-04-19 05:24] jeremymeng commented on #39
@siegfriedpammer Generating self-contained executables that target Linux/MacOS is easy.  Packaging them and installing them based on platform is little more involved (can copy what csharp-vscode is doing)

[2019-04-20 13:35] lonix1 commented on #38
Yes, exactly like in Visual Studio (i.e. not vscode).

BTW [dupe](https://github.com/icsharpcode/ilspy-vscode/issues/28).

[2019-05-08 11:37] Valmar33 opened #40 "[Feature request] Dump all decompiled, formatted files?"
Is there a way to dump all of the decompiled files? Maybe I've just missed the option, if there is one.

If there isn't such an option, can you add one? One that preferably keeps the tree format as seen in the ILSpy tab.

[2019-09-20 05:38] jeremymeng opened #42 "opened document windows are not re-used"
VSCode 1.38.1

Every time after clicking on nodes, two new "Untitled" document windows are opened to show the C# and IL Code.  In certain previous VS Code versions the behavior was different: the two document windows were re-used.

[2019-09-21 07:24] christophwille commented on #40
A better fit for such automation tasks might be https://github.com/icsharpcode/ILSpy/tree/master/ICSharpCode.Decompiler.Console (it is x-plat like the VS Code addin here)

[2019-09-21 07:38] #42 closed

[2019-09-22 08:41] christophwille opened #45 "RFC: Include "F12 - go to decompiled source" in OmniSharp?"
Visual Studio already integrates the ILSpy decompilation engine as an experimental F12 go to decompiled source. Given how "small" such an integration is, wouldn't that also be of interest in the OmniSharp engine to have that sort of functionality in-box? (ie like this: if package has SourceLink, use that. If not, use our engine).

Maybe we should start a discussion with the https://github.com/Omni

[2019-09-22 08:45] christophwille commented on #45
@filipw I don't want to "pollute" the OmniSharp repo with a discussion that might be totally inappropriate, that's why I tagged you here. Would that sort of feature be of value in OmniSharp (and part of its charter), or is that something that is not of interest feature-wise?

[2019-10-08 09:51] filipw commented on #45
Hi sorry for the delay, I somehow missed it.

Yes we absolutely want to bring this feature into OmniSharp - it's been quite heavily asked for. At the moment we only support metadata as source which is very limited.

[2019-10-08 10:10] christophwille commented on #45
ICSharpCode.Decompiler.dll is already included in Roslyn (but not latest, that somehow always takes some time). Please feel free to take inspiration from this repository, we actually would love to have it (F12 experience) part and parcel in OmniSharp!

[2019-10-08 10:12] filipw commented on #45
I will have a look and come back to you with questions 😀

[2019-10-08 12:42] christophwille commented on #45
No problem, @siegfriedpammer and I will be watching this space :-)

There are additional samples available, such as ilspycmd (https://github.com/icsharpcode/ILSpy/tree/master/ICSharpCode.Decompiler.Console) or even inside Roslyn you will find the integration code that Siegfried provided.

[2019-10-08 12:50] siegfriedpammer commented on #45
See https://github.com/dotnet/roslyn/tree/master/src/EditorFeatures/CSharp/DecompiledSource for the Roslyn integration.

[2020-01-30 21:31] MateusAmin opened #46 "': Unable to write file (NoPermissions (FileSystemError): Error: EACCES: permission denied, open '/ilspy-decompilation.cs')"
I get this error when trying to save the file. On a Debian machine.

Error Output:

Failed to save 'ilspy-decompilation.cs': Unable to write file (NoPermissions (FileSystemError): Error: EACCES: permission denied, open '/ilspy-decompilation.cs')

Steps Taken:

Updating workspace permissions using chmod -r 775 [Did not work]
Running vscode as sudo [Did work]

[2020-01-30 21:32] MateusAmin commented on #46
What directory would it be using to write to?

[2020-02-13 07:19] jeremymeng commented on #46
Could you use File > Save As ...?

The decompiled code are displayed in a temporary document.  Last time I checked there isn't a way to hint it's file path.  I do see it shows `\ilspy-decompilation.cs` in the hover over tooltip.

[2020-02-13 07:35] jeremymeng commented on #46
Actually it is supported to specify a path, but I don't have a good path to put there

[2020-02-19 16:31] raghavg123 opened #47 "Decompiled files being opened on vscode startup even after uninstalling extension"
I installed the extension to see what it can do, ran it on a game file dll, which came out pretty well, but then I realized I didn't have any use for it so I uninstalled the extension. But now, on every vscode startup, I get these two files in my editor which are blank, and can't be saved:

![image](https://user-images.githubusercontent.com/14952412/74852680-f45f2d00-5362-11ea-8dda-e92a0b1a2e20.pn

[2020-02-20 08:32] MarsonShine opened #48 "ilspy not working in vscode for mac"
Environment:
macOS Catalina 10.15.3
vscode 1.41.1
ILSpy 0.7.10

when i installed extension and press `Ctrl+Shift+P`
select "decomplier il assembly"
<img width="850" alt="截屏2020-02-20下午4 25 12" src="https://user-images.githubusercontent.com/17610342/74914629-bd8a2500-53fd-11ea-9dd3-a9349157f62b.png">
then nothing!
<img width="761" alt="截屏2020-02-20下午4 27 17" src="https://user-images.githubuserconte

[2020-02-21 05:49] raghavg123 commented on #47
Interestingly, after wasting over a day on looking up the internet for a similar problem, I've found no solution. I've tried doing a clean reinstall, with no avail. More so, on opening a new window, another window with both files pops up and has to be manually closed. I also created both files in the `C:\` directory and tried saving to them, but nothing works. I'm really getting tired of this stuf

[2020-02-21 06:54] christophwille commented on #45
@filipw saw your branch https://github.com/filipw/omnisharp-roslyn/tree/feature/decompile - anything we can help with?

[2020-02-21 06:55] siegfriedpammer commented on #47
I can imagine you are frustrated by this! (I would be too!) However I just tried to reproduce this, and it works as expected on my machine.

 As you write you have already tried a clean reinstall of vscode: Have you removed all the configuration files in `%APPDATA%\Code`? Because if you already tried that and the windows still open on every launch, I don't think the problem is related to ILSpy, bu

[2020-02-21 07:05] siegfriedpammer commented on #47
Addedum: Another special directory related to installed extensions is `%USERPROFILE%\.vscode`. Removing that directory might help as well...

[2020-02-21 07:58] christophwille commented on #47
I tried the following: pick assembly, decompile a member (to get those two files), immediately uninstall ILSpy, close VSCode, re-open it (not doing a thing with the decompiled cs/il windows in the process). Yes, the windows are there on re-opening (that was expected), and they are empty (as per your screenshot).

Closing the windows (via X and telling VSCode I don't want to save) closes it in the

[2020-02-21 08:41] filipw commented on #45
thanks unfortunately I got side tracked with a lot of other things in OmniSharp which had taken priority 😫
I am planning to pick up on this soon...
The branch is just a PoC but it shows that it's a viable spike. What I plan to do is to make it toggle-able with the MetadataService, so that when enabled it replaces completely Go-To-Metadata when invoked.

[2020-02-21 08:50] christophwille commented on #45
Currently, VS is also using a toggle plus that copyright dialog (Yes -> decompile, No -> use good old metadata approach). However, they honor an additional one that you might want to consider given that VSCode is a MS product: https://github.com/dotnet/roslyn/blob/e704ca635bd6de70a0250e34c4567c7a28fa9f6d/src/EditorFeatures/Core/Implementation/MetadataAsSource/MetadataAsSourceFileService.cs#L121-L1

[2020-02-21 11:18] christophwille commented on #48
I am on 1.42.1, but everything else is identical.

When I choose an assembly in the dialog + click "Select assembly" it opens the assembly in the tree (takes about a second or so initially).

[2020-02-21 12:25] raghavg123 commented on #47
@siegfriedpammer and @christophwille First of all, thank you for responding.

Second of all, sorry for going off on a rant without knowing what I'm talking about. Your tool is amazing and if I ever will learn C# I'll be sure to use it. I just got a bit frustrated and that's all. Again, I'm really sorry and mean no ill-will to the maintainers of this repo.

Third, I seem to either be extremely stup

[2020-02-21 13:12] christophwille commented on #47
This is definitely a bug. Question is are we causing it or simply triggering a bug in VSCode

[2020-02-21 13:43] MarsonShine commented on #48
i tried agian,but same result, the tree is empty.
1.42.1 is ilspy?
but 1.41.1 is newest in market.where download？compile source code？

[2020-02-21 14:00] christophwille commented on #48
1.42.1 is the VSCode version.

[2020-02-22 05:26] jeremymeng commented on #47
Our extension just opens two documents using the VS Code api with the `untitled:` schema. I will try to reproduce it with a new extension from the template then report to the VS Code repo.

[2020-02-22 05:31] jeremymeng commented on #47
Another thing we could do is to create and use real files under temp folder instead of untitled which seems default to root folder when we attempt  to save them.

Or VS Code shouldn't default their saving path to root.

[2020-02-22 05:48] jeremymeng commented on #48
@MarsonShine could you please share the output of the ilspy-vscode log after selecting the assembly?

![image](https://user-images.githubusercontent.com/7583839/75087348-da088900-54f3-11ea-9c19-44a9f8d77fa2.png)

[2020-02-22 07:03] MarsonShine commented on #48
now, my vscode version is 1.42.1 but no change
detail info for vscode bellow
[code]
and there are some pictures
<img width="1434" alt="截屏2020-02-22下午3 00 32" src="https://user-images.githubusercontent.com/17610342/75088151-74181200-5584-11ea-88af-e04c66731ac4.png">

[2020-02-22 07:37] jeremymeng commented on #47
I opened PR #50 to use temp directory and random file names for decompilation documents.  After the change VS Code shouldn't try to save the files to the root directory.

@raghavg123 when the issue happened (two blank documents opened in VS Code), were you able to close them by clicking `X` button and choosing not to save them?  If not it might be a VS Code bug somewhere.

[2020-02-22 07:41] raghavg123 commented on #47
Yes. Also, when closing the whole window, only one Save popup showed up for either of both files which when passed ("Don't Save") closed both files, if that helps.

[2020-02-22 07:50] jeremymeng commented on #32
It's tricky to get the behavior right

- The current behavior is due to how the `untitled:` scheme works in VS Code and we have no control over it.
- I have considered switching to `file:` scheme. But there are some issue with that: it can only opens existing files. We could create files in %temp% folder and use them. However, if users save the files, next time we use them we are overwriting the s

[2020-02-22 07:54] jeremymeng commented on #47
Got it. I am also seeing that even I can close them, the next time VS Code starts it loads them again.

[2020-02-22 08:02] jeremymeng commented on #48
@MarsonShine I assume you have `mono` installed? What's your output of `mono --version`?

[2020-02-22 08:07] #40 closed

[2020-02-22 09:21] MarsonShine commented on #48
yes, i'm installed mono

<img width="851" alt="截屏2020-02-22下午5 20 54" src="https://user-images.githubusercontent.com/17610342/75089835-c3b40900-5597-11ea-84bd-695c2c85273c.png">

[2020-02-22 09:32] MarsonShine commented on #48
oh!! lucky
in  just, i'm try again reinstall ilspy. it show tree view successfully.but I don't know why
i'm sorry about it that token up your time.
now close issue

[2020-02-22 09:32] #48 closed

[2020-02-22 15:51] jeremymeng commented on #48
Glad to hear that it is working for you now!

[2020-03-06 08:49] fjqingyou commented on #32
can you usin cehce file map?
temp file has map file? save file check it ?if it's temp file so  show confirm view , user can select save as new path?

[2020-03-28 09:08] christophwille commented on #45
@filipw We are approaching Preview 3 of v6 - and would have a few spare cycles to help.

[2020-03-28 20:59] filipw commented on #45
thanks, the latest code has been moved to the official feature branch (it's currently on top of latest master) https://github.com/OmniSharp/omnisharp-roslyn/tree/feature/decompile

[2020-03-29 07:08] christophwille commented on #45
Did you encounter any problems, snags, things we could do differently to make it easier, any other suggestions?

[2020-03-29 14:57] filipw commented on #45
i tried a few approaches, but ended up reflection calling into the internal Roslyn services, it's the simplest and this way the behavior appears to be pretty much the same

[2020-03-30 19:41] filipw commented on #45
@christophwille actually, perhaps you could help here?
I ran into a weird issue when trying to decompile code from assembly that depends on `netstandard.dll`. It only happens when I use the Roslyn services via reflection, so I would rather expect the problem to be there not in ILSpy, but anyway perhaps you have some idea

it tries to look for `netstandard.dll'` in the windows directory instead of

[2020-03-31 06:29] christophwille commented on #45
@siegfriedpammer I think you are better suited to answer this

[2020-03-31 06:59] siegfriedpammer commented on #45
Yes, I wrote that code, however I am merely a consumer of another Roslyn API namely `IAssemblySymbol`/`Compilation.GetReferencedAssemblySymbols()`.

In Visual Studio's case we retrieve all known references and use their file locations from `IAssemblySymbol.Display`, these usually point to the GAC, reference assemblies folders, etc.

I don't know anything about how OmniSharp uses Roslyn, maybe ther

[2020-03-31 10:09] filipw commented on #45
thanks.
it *seems to me* we do things exactly the same ways as VS, but clearly something is off.

What the assembly resolver for ILSpy in Roslyn code does, is this http://sourceroslyn.io/#Microsoft.CodeAnalysis.CSharp.EditorFeatures/DecompiledSource/AssemblyResolver.cs,104

So it uses `Display` property from metadata reference.
The problem is on this line http://sourceroslyn.io/#Microsoft.CodeAnal

[2020-03-31 17:12] siegfriedpammer commented on #45
I am sorry for the confusion, I was referring to the `IAssemblySymbol` interface before... I got this mixed up - we are using `Compilation.GetMetadataReference(IAssemblySymbol)` to retrieve the `MetadataReference` instance first.

The problem here is that `FilePath` is not part of `Microsoft.CodeAnalysis.MetadataReference`. I have not enough knowledge of the Roslyn APIs, whether there is a better

[2020-03-31 17:52] filipw commented on #45
yes the cast itself would work (as in, it would succeed) and in `PortableExecutableReference` `Display` and `FilePath`  actually return the same thing  http://sourceroslyn.io/#Microsoft.CodeAnalysis/MetadataReference/PortableExecutableReference.cs,37, but it wouldn't solve the problem.

The problem is if the metadata reference already is of runtime type `MetadataImageReference`, which is what I am

[2020-03-31 17:57] filipw commented on #45
actually, ofcourse what I wrote is nonsense 😄
yeah this works fine for me:

[code]

[2020-04-02 08:41] christophwille commented on #47
@jeremymeng Any idea already how we can solve this?

[2020-04-02 16:11] jeremymeng commented on #47
Probably put dcompiled content in temp files in %TEMP% folder and save them. I haven't got time to try the repro of https://github.com/microsoft/vscode/issues/91220 in an insider build

[2020-04-03 15:29] christophwille commented on #45
Filip's PR is here https://github.com/OmniSharp/omnisharp-roslyn/pull/1751

[2020-04-04 07:16] #36 closed

[2020-04-04 07:18] jeremymeng commented on #47
I just merged #50 so we no longer use the `untitled` documents.

[2020-04-05 05:26] christophwille commented on #4
Maybe we should consider going entirely to GH Actions instead of fixing AppVeyor? (we are considering consolidating to one build system in the future for the entire org - currently we mix AppVeyor and Azure DevOps, but ultimately, the goal would be GH Actions)

[2020-04-05 07:26] christophwille opened #55 "RFC: Shipping for .NET Core"
https://github.com/dotnet/vscode-dotnet-runtime

That way we could easily target .NET Core *and* be sure that the correct runtime is on the machine. Beta at time of me creating this issue. But this is intended as discussion - do we want to go that way?

[2020-04-10 07:49] christophwille commented on #45
@filipw I saw that it was just merged. I assume you will be blogging / tweeting once it ships to end users - please let us know so we can retweet. Thanks.

Our extension will continue to exist - for one, we allow decompilation of user-selected assemblies (no project context), secondly it allows us to ship ics.d versions different from Roslyn, thirdly it has a tree UI similar to ILSpy itself.

[2020-04-10 18:42] jeremymeng commented on #55
It looks promising! Definitely better than shipping platform-specific self-contained executables.

[2020-04-14 05:48] christophwille commented on #45
It seems to be in 1.21.17 https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.csharp @filipw can you confirm? (how would I go about activating the feature?)

[2020-04-14 12:15] filipw commented on #45
yes it's released now. To activate it you can do one of 2 things: create a global or local `omnisharp.json` (https://github.com/OmniSharp/omnisharp-roslyn/wiki/Configuration-Options#global-omnisharpjson)

And add the following config:

[code]
In the future, we will add a shortcut setting directly into VS Code settings too.

@christophwille @siegfriedpammer actually, there is one more issue that yo

[2020-04-14 12:19] siegfriedpammer commented on #45
That depends on how you create the decompiler type system. It is necessary that all types you try to decompile are located in the main module, that is, the first parameter of the `DecompilerTypeSystem` ctor. We haven't tested the decompiler that much on Mono, however I don't see a reason why it would behave differently.

Could you point me to the location were you instantiate the decompiler so I c

[2020-04-14 12:25] filipw commented on #45
thanks a lot - it's here https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Roslyn.CSharp/Services/Decompilation/OmniSharpCSharpDecompiledSourceService.cs#L128
this code is actually internalized from Roslyn.
aside from the 1 line change (https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Roslyn.CSharp/Services/Decompilation/AssemblyResolver.cs#L101) and so

[2020-04-14 12:30] siegfriedpammer commented on #45
I think I would have to debug this in order to get some insight as to why it fails. Is it possible to reproduce this in a Ubuntu VM? I currently do not have access to my MBP.

[2020-04-14 13:22] filipw commented on #45
I will try to create a repro.
Meanwhile, I added some extra logging hope this helps shed some light.

So the following code:

[code]

prints this on Mono:

[code]

In this case the problem is we are in net472 project (omnisharp) but working on a net core 3.1 project. I am trying to decompile something from `System.Collections` and it ends up resolving to a Mono facade dll (notice the path) instead

[2020-04-14 13:36] siegfriedpammer commented on #45
Reference assemblies are useless for a decompiler (as they only contain public metadata and zero implementation). VS usually works with reference assemblies, because these suffice for most IDE features, but the decompiler needs an assembly containing the actual implementation.

I don't quite understand: The assembly from the Microsoft.NETCore.App.Ref path contains IL bytes, but the Mono facade doe

[2020-04-14 13:52] filipw commented on #45
The mono facade does too, but there is a mismatch of versions (assembly from .NET core 3.1 is newer than in Mono GAC as it only matches on partial name) so this condition is not satisfied https://github.com/icsharpcode/ILSpy/blob/master/ICSharpCode.Decompiler/CSharp/CSharpDecompiler.cs#L826

When I remove any attempt to handle ref assemblies, at least the ref assemblies gets decompiled. This is of

[2020-04-14 14:14] siegfriedpammer commented on #45
This is definitely not helpful and not what I had in mind for the feature, but due to some missing functionality in Visual Studio, that is, answering the question "Which file is loaded at runtime for the given assembly?", the feature will always misbehave in some cases. That question is - of course - very hard to answer, depending the project configuration, etc., so we might never get it to work p

[2020-04-14 14:24] filipw commented on #45
Thanks, this is definitely complex, especially when the code targeted and the code running are different runtimes.

What I have managed to find out is that the problem in this code that we mirrored from VS, is that it ends up using a Mono specific implementation of some Roslyn GAC proxy (http://sourceroslyn.io/#Microsoft.CodeAnalysis.Scripting/Hosting/Resolvers/MonoGlobalAssemblyCache.cs,fa2b10cde

[2020-04-25 19:31] gnarf opened #56 "Possible to sort the decompiled browser?"
In a large namespace, it's really hard to find a particular class / type because the values seem to be ordered in compile order instead of alphabetically.

Would it be possible to sort the brower so I dont have to scan through miles of stuff like this to find the specific thing I'm looking for?

![image](https://user-images.githubusercontent.com/549355/80289008-cbb03680-8709-11ea-8c5f-3315fab1d182

[2020-04-26 16:27] jeremymeng commented on #56
@gnarf great feedback!  Yes it would be better to sort the nodes. Also nice if a search filter could be possible.

[2020-04-27 14:07] aress31 opened #57 "[Feature Request] Search and location dump"
As far as I know, the `ILSpy extension` automatically dumps the decompiled and disassembled files into the `current user's temp folder`. Adding the option to dump these contents into an arbitrary location would be a good addition. But more importantly, I believe that adding the ability to use `VScode built-in search feature` to look for specific strings should be a must have.

[2020-05-02 12:52] christophwille commented on #45
Are there current plans for the shortcut setting yet?

[2020-05-07 19:30] filipw commented on #45
it's planned but apparently there need to be some things defined first on how the legal disclaimer is shown and so on
@JoeRobich knows more

[2020-05-10 12:10] christophwille commented on #45
Ah yes, something along the lines of the dialog that pops up in Visual Studio.

[2020-05-20 23:38] JoeRobich commented on #45
@christophwille  You can try this in our pre-release build https://github.com/OmniSharp/omnisharp-vscode/releases/tag/v1.21.19-beta1

[2020-05-21 07:21] christophwille commented on #45
That should be easy enough for everyone to find :-)

I am closing this issue - if you have further questions (@filipw or @JoeRobich) about specifics of our engine, feature requests or bugs, please use https://github.com/icsharpcode/ILSpy/issues. We are more than happy to help.

[2020-05-21 07:21] #45 closed

[2020-06-05 16:49] justingdelisle commented on #56
I completely agree! Searching and sorting would be great!

[2020-06-05 16:50] justingdelisle commented on #57
Upvote!

[2020-07-07 19:06] christophwille opened #59 "Remove Unit Tests for Decompiler"
We have unit tests that test the decompiler itself - however, ICSharpCode.Decompiler is already covered in the ILSpy repository. And the decompilation results do change when ILSpy changes its engine (new language features, improvements, ...) making those tests brittle.

[2020-07-24 07:52] jeremymeng commented on #46
The decompiled code are now saved to temp files and opened from there.  Closing this.

[2020-07-24 07:52] #46 closed

[2020-08-04 05:43] NikiforovAll opened #61 "Difficult to pick assembly to decompile in current workspace: filenames are too long"
As you can see on the screenshot below, the only thing I can see is the base path of the file, which is troublesome. It should be possible to show a relative path or at least make a configuration option for it.

![image](https://user-images.githubusercontent.com/8037439/89257138-49031580-d62e-11ea-84d8-3e77121d3011.png)

I would be happy to contribute, please let me know if you accept contribution

[2020-08-04 06:43] jeremymeng commented on #61
Contributions are absolutely welcome!

[2020-08-04 07:00] NikiforovAll commented on #61
@jeremymeng. Do you find the idea that I coined above useful? What the default value for this config would be?

[2020-08-04 07:33] jeremymeng commented on #61
I think it might be a good idea to show last part of the full path. We can also check how vscode handles long paths when Ctrl + P, and follow its approach.

[2020-08-04 09:07] NikiforovAll commented on #61
Yes, it will do the trick.

[QuickPickItem](https://code.visualstudio.com/api/references/vscode-api#QuickPickItem) has additional fields to control how an item is displayed.

I will prepare PR for this.

[2020-08-12 04:08] #61 closed

[2020-08-27 09:00] EmptyBucket opened #64 "Linux mono 6.8.0 error"
VS Code version: 1.48.2

Operation System and version: manjaro linux 5.6

(MacOs or Linux) Mono version: 6.8.0 (Linux)

## Steps to reproduce
1) ctrl+shift+p
2) enter ilspy pick
3) select dll e.g. lightinject.dll(version 6.2.0)

## Expected  behavior
Tree in ILSPY DECOMPILED MEMBERS

## Actual behavior
Nothing

## ilspy-vscode extension logs
Starting ILSpy.Host server at 8/27/2020, 1:37:13 PM

ILS

[2020-08-28 08:21] jeremymeng commented on #64
@siegfriedpammer @christophwille Any ideas? I wonder whether this would also repro using mono and the console decompiler.

[2020-08-28 19:12] siegfriedpammer commented on #64
@EmptyBucket do you have .NET Core installed on your machine? The exception happens in the part of the decompiler that tries to resolve assembly references. It crashes during initialization, while looking for the dotnet executable.

Would it be possible for you to post some details on the assembly that you are trying to open? Which target framework was it compiled for? Which version, etc. Thank yo

[2020-09-04 00:48] jiristary commented on #45
Thank you very much for this feature! I couldn't use VS Code for C# without it. Would it be possible that features like "Find References" would work as expected in decompiled files? E.g. finding references in that decompiled source as well as finding references in my project.

[2020-11-21 07:10] danbugs commented on #64
I have the same issue. I was trying to decompile `System.IO.Filesystem.dll` and I have .NET Core installed. Any ideas how to fix this? Thanks in advance!

[2020-12-21 20:40] geekley opened #65 "Publish extension on open-vsx.org, so it can be used in VSCodium, Gitpod"
Can you please publish the extension on Open-VSX, so it can reach more users?
[open-vsx.org](https://open-vsx.org) is an alternative to VS Marketplace, [that can legally be used](https://github.com/VSCodium/vscodium/blob/master/DOCS.md#extensions-marketplace) in Visual Studio Code forks like [VSCodium](https://github.com/VSCodium/vscodium#why-does-this-exist), [GitPod](https://www.gitpod.io/featur

[2020-12-22 09:03] christophwille commented on #65
As a stopgap - would publishing a release with the binary vsix on GH be ok?

[2020-12-22 19:55] geekley commented on #65
Well, it's already possible to download the VSIX file from VS Marketplace website and install it manually.
The problem is that's only for a specific version. You don't get automatic updates unless it's from the store.

So if the goal is to allow people to get release notifications of new versions (by watching the repo), I guess that helps a little, but I think it's not needed.

[2020-12-22 20:31] geekley commented on #65
Oh. I just noticed VS Marketplace site only allows download of latest version, so publishing releases here is actually a good idea, even if just for archival purposes.

[2021-01-14 13:19] fkromer opened #66 "[Feature request] Support on Linux w.o. Mono as dependency"
Would be great if one could use the extension on Linux without depending on Mono. For .NET Core this should be possible I guess.

[2021-02-01 23:05] almaceleste commented on #64
Do you have a `mono-complete` package installed?
I had the same behavior and after installing complete mono ILSpy successfully decompiled a .dll file.

[2021-02-02 00:16] danbugs commented on #64
@almaceleste -- Thanks for the response. I tried:

[code]

... but saw no change in the result.

[2021-02-22 12:51] christophwille commented on #55
See sample https://github.com/dotnet/vscode-dotnet-runtime/tree/master/sample
See https://github.com/dotnet/vscode-dotnet-runtime/tree/master/vscode-dotnet-runtime-extension
See https://github.com/dotnet/vscode-dotnet-runtime/blob/master/Documentation/troubleshooting-runtime.md

[2021-03-29 23:29] Id405 commented on #64
I have the same issue on arch linux
[code]

[code]

[2021-05-05 08:25] christophwille opened #67 "Looking for Maintainer"
This repository is looking for a new maintainer.

Note that the basis of the codebase is "old" in terms of the speed of change in the VSCode / JavaScript universe, so maybe `yo code` and porting in the existing code is a good starting point to see if you'd like to get on board. Both JS and .NET knowledge is required, some OmniSharp / LSP definitely helps (also take a look at #55 to see how we'd li

[2021-05-23 11:44] Rpinski commented on #67
I've started work on modernization of the extension's codebase. Main goals:

- Getting rid of parts based on old OmniSharp code
- Building the protocol between extension and server on top of LSP
- As a first step just porting existing logic on both sides to the LSP interface

The progress can be seen on my fork right now:

https://github.com/Rpinski/ilspy-vscode/tree/lsp-based

[2021-05-25 21:26] Rpinski commented on #66
As soon as the modernization described in #67 is finished (where we also plan migration to .NET 5.0), the Mono dependency should disappear.

[2021-05-26 11:17] fkromer commented on #66
@Rpinski Nice.

[2021-06-06 12:24] #67 closed

[2021-06-07 14:09] #6 closed

[2021-06-10 05:12] christophwille opened #71 "Switch TestAssembly to modern SDK-style project"
https://github.com/icsharpcode/ilspy-vscode/blob/master/backend/test/TestAssembly/TestAssembly.csproj

/usr/share/dotnet/sdk/5.0.301/Microsoft.Common.CurrentVersion.targets(1216,5): error MSB3644: The reference assemblies for .NETFramework,Version=v4.6.1 were not found. To resolve this, install the Developer Pack (SDK/Targeting Pack) for this framework version or retarget your application. You can

[2021-06-10 05:13] christophwille opened #72 "Optimize VSIX based on vsce output"
vsce output:

This extension consists of 390 files, out of which 211 are JavaScript files. For performance reasons, you should bundle your extension: https://aka.ms/vscode-bundle-extension . You should also exclude unnecessary files by adding them to your .vscodeignore: https://aka.ms/vscode-vscodeignore

[2021-06-10 11:20] christophwille commented on #55
The new version will show a loading indicator after installation:

![image](https://user-images.githubusercontent.com/344208/121516344-6216e880-c9ee-11eb-9d01-b65af8e1aff8.png)

Clicking leads to details about download and installation:

![image](https://user-images.githubusercontent.com/344208/121516396-73f88b80-c9ee-11eb-9976-a2f279b7fc3e.png)

@Rpinski https://github.com/dotnet/vscode-dotnet-ru

[2021-06-10 11:37] christophwille commented on #4
Andreas has added NUKE and GH Actions, so this issue can be considered completed.

[2021-06-10 11:37] #4 closed

[2021-06-10 11:39] christophwille commented on #66
As this is in progress (implemented, xplat validation needed), we'll track it via #55

[2021-06-10 11:39] #66 closed

[2021-06-10 11:39] christophwille commented on #64
This issue is no longer applicable as #55 has been implemented.

[2021-06-10 11:39] #64 closed

[2021-06-10 11:41] christophwille commented on #28
This is actually being implemented by the C# extension via OmniSharp. See https://www.strathweb.com/2020/05/decompilation-support-in-omnisharp-and-c-extension-for-vs-code/

[2021-06-10 11:41] #28 closed

[2021-06-10 20:40] Rpinski opened #73 "Show assembly name instead of file path in tree"
Showing full path doesn't make much sense in tree item, since user won't see the assembly name at all. Similar to ILSpy application, only show the assembly name. The full file path is shown as comment in decompiled code.

[2021-06-12 08:32] Rpinski opened #74 "Make „ILSpy Decompiled Members“ view visible after triggering commands"
When user triggers one of the commands (adding a new assembly), the ILSpy section in Explorer should become visible.

[2021-06-12 20:46] #73 closed

[2021-06-12 22:38] #74 closed

[2021-06-16 07:52] christophwille commented on #55
Timeout documented in Wiki https://github.com/icsharpcode/ilspy-vscode/wiki/Troubleshooting

[2021-06-16 07:52] #55 closed

[2021-06-21 16:11] christophwille commented on #65
https://marketplace.visualstudio.com/items?itemName=icsharpcode.ilspy-vscode&ssr=false#version-history

A couple of releases can be downloaded.

[2021-06-22 01:13] geekley commented on #65
I don't know if this is a trivial change to make or if it would only complicate things, but ...
Is it possible to make it fallback to use existing Mono in Linux, when `ms-dotnettools.vscode-dotnet-runtime` is not available? Is not in Open-VSX (yet?) and I'd rather not install .NET Core / 5 anyways ...

If having the option to use Mono isn't possible or desired, I suppose I'll just stay in v0.10.0.

[2021-06-22 06:03] christophwille commented on #65
No, special-casing just for open-vsx is not really an option (I will be blunt: the market is too small)

[2021-06-23 00:01] nicolaskruger opened #75 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ilspy-vscode`
- Extension Version: `0.11.0`
- OS Version: `Linux x64 5.8.0-55-generic`
- VS Code version: `1.57.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/tmp/icsharpcode.ilspy-vscode-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-

[2021-06-23 20:09] HalfVoxel opened #76 "[Regression] Conflict with rust-analyzer"
VS Code version: 1.57.1

Operating System and version: ubuntu 20.04

Mono version: 6.12.0.122 (I think)

## Steps to reproduce

Have both ilspy and rust-analyzer installed at the same time.

## Expected  behavior

Rust-analyzer will work properly.
Note that no actual usage of ilspy is required.

## Actual behavior

Rust-analyzer gets stuck.

## ilspy-vscode extension logs

Cannot include because i

[2021-06-23 22:07] Rpinski commented on #76
Since the entry "ILSpy Backend" doesn't show up in the list, the extension didn't finish initialization. Could you post the output from ".NET Runtime" here if there is any?

[2021-06-23 22:08] HalfVoxel commented on #76
Hi

I get
[code]

[2021-06-23 23:04] Rpinski commented on #76
Thanks!
".NET Runtime" is new since update to 0.11 and comes from [.NET Install Tool extension](https://github.com/dotnet/vscode-dotnet-runtime), which we use to ensure the runtime is available during startup. This runtime check or the actual start of our language server seem to be the most probable reasons for the issue. I'll investigate further.

[2021-06-23 23:05] Rpinski commented on #75
When does it happen? Directly when starting VS Code? Or when using the extension later?

[2021-06-26 20:06] Rpinski commented on #76
@HalfVoxel Would you mind trying the latest build of the extension:

https://github.com/icsharpcode/ilspy-vscode/suites/3089827243/artifacts/70567939

It doesn't fix anything, but it logs all steps of the startup process. This would help me a lot to analyze if one of the steps hangs or maybe blocks the extension host etc.

The artifact ZIP contains a .vsix package, which can be installed into VS C

[2021-06-28 22:33] almaceleste opened #77 "IntelliSense shows "Loading..." when the icsharpcode.ilspy-vscode extension is enabled"
VS Code version: 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:26:56.255Z)

Operation System and version: Ubuntu 21.04 (Linux x64 5.11.0-16-lowlatency)

(MacOs or Linux) Mono version: 6.12.0.122

## Steps to reproduce
1. Enable the `icsharpcode.ilspy-vscode` extension
2. Create new empty file
3. Push `Ctrl`+`S` to save file
4. Enter name and click `Save`
5. Get a lingering toast

[2021-06-30 08:03] Rpinski commented on #77
@almaceleste Would you mind trying the latest build of the extension:

https://github.com/icsharpcode/ilspy-vscode/suites/3106843610/artifacts/71064394

It doesn't fix anything, but it logs all steps of the startup process. This would help me a lot to analyze if one of the steps hangs or maybe blocks the extension host etc., which might influence other extensions.

The artifact ZIP contains a .vsi

[2021-06-30 09:32] HalfVoxel commented on #76
Hi

The only output I get is
[code]

.Net runtime output is unchanged:
[code]

Log (shared):
[code]

Nothing interesting in Log (Extension Host).
There is an exception, but I don't think it's releated to ilspy:
[code]

[2021-07-01 20:59] Rpinski commented on #76
@HalfVoxel Thank you very much for your reply! It looks like initialization of the extension is blocked at some point when checking .NET runtime. We are investigating with .NET Install Tool people and they asked for their logs as well. Sorry for bothering you, but maybe you could help once again?

After VS Code has started and extensions have been loaded, could you select `.NET Install Tool: Repor

[2021-07-05 21:14] #76 closed

[2021-07-05 21:14] #77 closed

[2021-07-05 21:24] Rpinski commented on #76
Finally found the issue related to check of .NET runtime's dependencies on Linux, which caused the startup process to hang. Sorry for the inconvenience, will be fixed ASAP with next extension update.

[2021-07-05 21:25] Rpinski commented on #77
Finally found the issue related to check of .NET runtime's dependencies on Linux, which caused the startup process to hang. Sorry for the inconvenience, will be fixed ASAP with next extension update.

[2021-07-05 21:28] Rpinski commented on #75
Might be related to #76 and #77, since the startup issues on Linux introduced with 0.11 release might cause several strange effects, even in other extensions. But I can't tell without additional info, only can suggest to test with next extension update.

[2021-07-09 08:58] christophwille commented on #75
@nicolaskruger did you get a chance to test the latest version?

[2021-07-09 09:05] #71 closed

[2021-07-09 12:37] nicolaskruger commented on #75
this issue just happen one one time, i remove some extensions and done.

[2021-07-09 12:38] #75 closed

[2021-07-09 13:48] christophwille commented on #65
I am closing this as we have no intention to publish there (at least for the foreseeable future).

[2021-07-09 13:48] #65 closed

[2021-10-04 12:02] thundersen opened #79 "Where is the decompiled code written to?"
Where are the temporary files containing the decompiled code located? I would like to search them.

VS Code version:
`1.60.2`

Operation System and version:
[code]

(MacOs or Linux) Mono version:
`Mono JIT compiler version 6.8.0.105 (Debian 6.8.0.105+dfsg-2 Wed Feb 26 23:23:50 UTC 2020)`

## Steps to reproduce

## Expected  behavior

## Actual behavior

## ilspy-vscode extension logs

[2021-10-05 19:29] Rpinski commented on #79
Hi @thundersen,
Since release of 0.12 there are no temporary files anymore. We are using [Virtual Documents](https://code.visualstudio.com/api/extension-guides/virtual-documents), which are present in memory only.

[2021-10-05 23:19] thundersen commented on #79
Thanks @Rpinski. Fair enough. Do you know of any other way to search through the decompiled code?

[2021-10-06 07:21] Rpinski commented on #79
@thundersen Since decompiled code is opened in VS Code's usual editor, you can use its text search as with any other editor (Ctrl+F)

Or do you mean searching for types and symbols through whole assembly (as in standalone ILSpy application)? The extension doesn't support that at the moment.

[2021-10-06 16:13] #79 closed

[2021-10-26 12:15] christophwille opened #80 "Move to .NET 6 once released"
5.0 is not a LTS release and will go out of support within 6 months of 6.0 release (see https://dotnet.microsoft.com/platform/support/policy/dotnet-core)

[2021-10-30 07:51] Rpinski commented on #39
I think we can close this issue, since meanwhile the extension is based on a locally installed .NET Core runtime (= no Mono) and uses a different protocol to communicate with ILSpy.Host

If still anything strange happens, a new issue should be opened.

[2021-10-30 07:51] #39 closed

[2021-10-30 08:11] Rpinski commented on #47
Since we have stopped using temporary files with 3c1a220fcb0944cd7dfc2224be3180ef5ae58a0b, all those problems with re-opened files after startup should have gone since 0.12 release.

Please open a new issue if still anything strange happens.

[2021-10-30 08:11] #47 closed

[2021-10-30 09:54] Rpinski commented on #32
Also see #47

Since we have stopped using temporary files with 3c1a220fcb0944cd7dfc2224be3180ef5ae58a0b, all those problems with re-opened files after startup should have gone since 0.12 release.

Please open a new issue if still anything strange happens.

[2021-10-30 09:54] #32 closed

[2021-11-08 06:18] vindicatorr opened #81 "Backend Remains Running After Vscode Is Closed"
VS Code version: 1.58.0-insider (also on 1.62.0-insider, but I rolled back because of an issue with "watcher.node" that I opened an issue for)

Operation System and version: Archlinux Linux x64 5.13.1-dirty

(MacOs or Linux) Mono version: N/A with `.NET runtime 5.0` being used now. Perhaps a template change is needed here?

## Steps to reproduce

1. Open vscode
2. Wait for ilspy to startup
3. Clos

[2021-11-09 22:47] #80 closed

[2021-11-12 23:59] Rpinski commented on #81
Hi @vindicatorr!
Thanks for submitting! I can reproduce this on Linux as well (with VS Code 1.57.1 and 1.62.2), while on Windows this issue does not appear. Possible that the watcher.node issues is related, but I'll also experiment a bit on our side.

[2021-11-27 23:54] #81 closed

[2021-12-06 12:57] sethidden commented on #48
If you get this, CTRL+SHIFT+P > Reload Window then add the assemly to ILSpy decompiled members window again. Should work.

[2022-03-06 13:20] Fancy2209 opened #83 "Add Search"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I want to quickly find something but I can't because the VSCode extension doesn't work

**Describe the solution you'd like**

Add search to the VSCode extension of ILSpy

[2022-03-06 13:20] #83 closed

[2022-04-23 03:12] geniuskamo opened #85 "ILSpy Backend has stopped"
VS Code version: 1.66.2

Operation System and version: Darwin x64 21.4.0

(MacOs or Linux) Mono version:

## Steps to reproduce : Start VScode after iLspy install

## Expected  behavior: iLSpy should work

## Actual behavior iLSpy stops working  on open of vscode

## ilspy-vscode extension logs
[23:03:48.735] Checking for .NET runtime 6.0
[23:03:48.742] Check finished, runtime path is: C:\Program

[2022-04-25 08:16] Rpinski commented on #85
Hello @geniuskamo,

That's a strange path for a macOS system. Do you have that in your VSCode settings (-> _Dotnet Acquisition Extension: Existing Dotnet Path_)? If yes, could you remove that setting? (then a locally downloaded runtime will be used)

Could it be that VSCode settings are synchronized with a Windows system?

[2022-04-29 00:46] geniuskamo commented on #85
Thank you @Rpinski .
You are right, I have VSCODE on both my MacOS and windows, and somehow that happened to me. So that's some sort of defect with vscode ?

[2022-04-29 00:46] #85 closed

[2022-06-29 17:49] Paul-Grimes opened #86 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ilspy-vscode`
- Extension Version: `0.13.1`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.68.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/PGrimes/AppData/Local/Temp/icsharpcode.ilspy-vscode-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vs

[2022-11-06 18:28] ArtemKiyashko opened #88 "Reload assemblies when changed"
Would be nice to reload automatically or by button updated assemblies.

Currently its possibly only by unloading -> picking same assembly again -> navigating to the same assembly i watched before

Similar to [AssemblyWatcher plugin](https://github.com/imor/AssemblyWatcher) but for VSCode

[2022-11-08 02:35] jp311 opened #89 "[Feature Request] List reference Assembly info"
like this.
![屏幕截图 2022-11-08 102014](https://user-images.githubusercontent.com/336683/200461243-f4239706-408d-4d2d-b1d4-bf0a6dafea73.png)

[2022-11-11 23:17] #56 closed